# NLP

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
Eval = pd.read_csv("C:\\Users\\tangw\\Desktop\\ICE\\ICE2_data_eval.csv")
Eval

,teaching,teaching.1,coursecontent,coursecontent.1,examination,Examination,labwork,labwork.1,library_facilities,Library_facilities,extracurricular,extracurricular.1
0,0,teacher are punctual but they should also give...,0,content of courses are average,1,examination pattern is good,-1,"not satisfactory, lab work must include latest...",0,library facilities are good but number of book...,1,extracurricular activities are excellent and p...
1,1,Good,-1,Not good,1,Good,1,Good,-1,Not good,1,Good
2,1,Excellent lectures are delivered by teachers a...,1,All courses material provide very good knowled...,1,Exam pattern is up to the mark and the Cgpa de...,1,Lab work is properly covered in the labs by th...,1,Library facilities are excellent in terms of g...,1,Extra curricular activities also help students...
3,1,Good,-1,Content of course is perfectly in line with th...,-1,Again the university tests students of their a...,1,Good,0,Its the best thing i have seen in this univers...,-1,Complete wastage of time. Again this opinion i...
4,1,teachers give us all the information required ...,1,content of courses improves my knowledge,1,examination pattern is good,1,practical work provides detail knowledge of th...,1,library has huge collection of books from diff...,1,extracurricular activities increases mental an...
...,...,...,...,...,...,...,...,...,...,...,...,...
180,1,intraction is good and leacture delivery also ...,0,every one can tell depth of course but some on...,0,exam pattern is good and marks distribution is...,1,all labs and practical going on well,1,good,1,they all are held in super
181,1,all the given terms are good regarding the uni...,1,we are getting maximum knowledge,1,all are good,1,not bad,-1,library facilities are not good.They are not f...,1,good
182,1,All the terms are good regarding the universit...,1,Knowledge is maximum gained by reading books ...,0,The examination pattern is good .But time is n...,1,Labs are upto the mark.,1,They are good,1,the extracurricular activities held in univers...
183,-1,Some of the teacher are un experienced. Also t...,0,Its fine but it should focus more towards prac...,1,MCQ pattern is quite good and efficient way fo...,-1,Our labs do not have all facalities.,1,We have a good library with all facalities.,1,Our university has lot of extracurricular goin...
184,1,IT IS GOING GOOD,-1,HAVE TO IMPROVE,0,PAPER CHECKING IS VERY HARD REMAINING IS GOOD,1,ALL PRACTICAL WORK IS GOOD,-1,THEY IS NO PROBLEM WITH THEM\n,1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT

# Data Cleaning and Wrangling

###### For this practice, I tried to adapt commands like concat, wide_to_long, melt, or stack. But I failed to make any of them produce this same final result. The codes that I have down are shared from ZeCheng.

In [3]:
Eval.columns = ['teaching', 'teaching.1', 'coursecontent', 'coursecontent.1','examination', 'Examination', 'labwork', 'labwork.1','library_facilities', 'library_facilities.1', 'extracurricular','extracurricular.1']
Eval.isnull().sum()

teaching                0
teaching.1              0
coursecontent           0
coursecontent.1         0
examination             0
Examination             0
labwork                 0
labwork.1               0
library_facilities      0
library_facilities.1    0
extracurricular         0
extracurricular.1       0
dtype: int64

In [4]:
new_df_dict = {'eval':[], 'comment':[], 'category':[]}

for row_num, row in Eval.iterrows():
    new_df_dict['eval'].append(row['teaching'])
    new_df_dict['comment'].append(row['teaching.1'])
    new_df_dict['category'].append('teaching')

    new_df_dict['eval'].append(row['coursecontent'])
    new_df_dict['comment'].append(row['coursecontent.1'])
    new_df_dict['category'].append('coursecontent')

    new_df_dict['eval'].append(row['examination'])
    new_df_dict['comment'].append(row['Examination'])
    new_df_dict['category'].append('examination')

    new_df_dict['eval'].append(row['labwork'])
    new_df_dict['comment'].append(row['labwork.1'])
    new_df_dict['category'].append('labwork')

    new_df_dict['eval'].append(row['library_facilities'])
    new_df_dict['comment'].append(row['library_facilities.1'])
    new_df_dict['category'].append('library_facilities')

    new_df_dict['eval'].append(row['extracurricular'])
    new_df_dict['comment'].append(row['extracurricular.1'])
    new_df_dict['category'].append('extracurricular')

In [5]:
df_new = pd.DataFrame(new_df_dict)
df_new.sort_values(by='category',ascending=False, inplace=True)
df_new.reset_index(drop=True, inplace=True)
df_new 
evalClean = df_new
evalClean

      eval                                            comment       category
0        0  teacher are punctual but they should also give...       teaching
1        1  teachers are pretty interactive,But it all dep...       teaching
2        1                                              good        teaching
3        0  Very good teaching and management but too much...       teaching
4        0  Everything would be fine if there are less num...       teaching
...    ...                                                ...            ...
1105     0                                            average  coursecontent
1106     1                                     It is so good.  coursecontent
1107     1              they are giving good knowledge for us  coursecontent
1108     1  content is very knowledgable and gives us huge...  coursecontent
1109    -1  syllabus is more which required time ..it shou...  coursecontent

[1110 rows x 3 columns]

In [6]:
# import the regex library
import re

In [7]:
def clean_text(text):
    #Make text lowercase, remove punctuations, and remove numbers
    text = text.lower()
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('[0-9]+','', text)
    return text

In [8]:
evalClean['comment'] = evalClean['comment'].map(clean_text)
evalClean

NameError: name 'string' is not defined

# Organizing Data

In [9]:
# We are going to create a document-term matrix using CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')

commentCV = cv.fit_transform(evalClean['comment'])
commentCV_dtm = pd.DataFrame(commentCV.toarray(), columns = cv.get_feature_names())

commentCV_dtm.index = evalClean['comment'].index
commentCV_dtm

,10,1st,1week,24hrs,90,abilities,ability,able,abroad,absolutely,...,works,world,worth,write,writing,wrong,yeah,year,years,yes
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1106,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1108,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1109,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Exploratory Analysis

In [10]:
evalClean.groupby(['eval','category']).count().unstack()

               comment                                                         \
category coursecontent examination extracurricular labwork library_facilities
eval
-1                  30          24              12      37                 31
 0                  27          31              19      16                 24
 1                 128         130             154     132                130


category teaching
eval
-1             13
 0             35
 1            137

In [11]:
totalCT = commentCV_dtm.sum()
commentCV_dtm[totalCT.sort_values(ascending = False).index[:20]].sum()

good          664
excellent      77
students       65
university     64
library        48
books          47
course         43
pattern        41
lab            40
teachers       37
knowledge      37
activities     37
time           32
teaching       31
content        31
checking       30
average        30
courses        30
paper          30
work           30
dtype: int64

# Topic Modeling

In [12]:
pip install -U gensim

Requirement already satisfied: gensim in c:\users\tangw\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: Cython==0.29.28 in c:\users\tangw\anaconda3\lib\site-packages (from gensim) (0.29.28)
Requirement already satisfied: numpy>=1.17.0 in c:\users\tangw\anaconda3\lib\site-packages (from gensim) (1.20.1)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\tangw\anaconda3\lib\site-packages (from gensim) (6.0.0)
Requirement already satisfied: scipy>=0.18.1 in c:\users\tangw\anaconda3\lib\site-packages (from gensim) (1.6.2)
Note: you may need to restart the kernel to use updated packages.

In [13]:
from gensim import matutils, models
import scipy.sparse

In [14]:
tdm = commentCV_dtm.transpose()
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)
id2word = dict((v, p) for p, v in cv.vocabulary_.items())

In [15]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=20)
lda.print_topics()

[(0,
  '0.030*"books" + 0.025*"library" + 0.021*"knowledge" + 0.019*"average" + 0.019*"courses" + 0.016*"course" + 0.016*"content" + 0.014*"students" + 0.014*"activities" + 0.014*"university"'),
 (1,
  '0.319*"good" + 0.022*"pattern" + 0.021*"university" + 0.016*"checking" + 0.016*"paper" + 0.015*"students" + 0.014*"marks" + 0.014*"exam" + 0.012*"examination" + 0.010*"teachers"'),
 (2,
  '0.058*"excellent" + 0.039*"good" + 0.020*"delivery" + 0.019*"lecture" + 0.017*"punctuality" + 0.017*"practical" + 0.015*"interaction" + 0.014*"work" + 0.014*"fine" + 0.013*"faculty"')]

# Text Classifier

In [16]:
from sklearn.model_selection import train_test_split

Xs_docs = evalClean['comment']
Ys_evals = evalClean['eval']
xs_training, xs_test, y_training, y_test = train_test_split(Xs_docs, Ys_evals, test_size = 0.2)

In [17]:
from sklearn.naive_bayes import MultinomialNB

# Prepare the training features
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)

# Train a multinomial Naive Bayes Model
model = MultinomialNB()
model.fit(features, y_training)

# Prepare the testing xs.
# Here we are using transform and fit_transform to standardize the data.
# Read about the differences here: https://towardsdatascience.com/what-and-why-behind-fit-transform-vs-transform-in-scikit-learn-78f915cf96fe
feature_test = cv.transform(xs_test)

# Print the model accuracy
print(model.score(feature_test,y_test))

0.7927927927927928

In [18]:
from sklearn import svm

# Prepare the training features
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)

# Train SVM classifier
model = svm.SVC()
model.fit(features, y_training)

# Prepare the testing xs
feature_test = cv.transform(xs_test)

# Print the model accuracy
print(model.score(feature_test,y_test))

0.7837837837837838